@import "tailwindcss";

@font-face {
  font-family: 'JetBrains Mono';
  src: url('./assets/fonts/JetBrainsMono-Regular.ttf');
}
body {
  font-family: 'JetBrains Mono';
}

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-slate-900 text-slate-100;
    overflow-x: hidden;
  }

  body::-webkit-scrollbar {
    width: 10px; 
  }

  body::-webkit-scrollbar-track {
    background: #1e293b;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #10b981;
    border-radius: 9999px;
    border: 2px solid #1e293b; 
  }

  body::-webkit-scrollbar-thumb:active {
    background-color: #059669;
  }
}
